[2014-09-19 22:09] jefferis opened #1 "Search for arbitrary uploaded object"
e.g. neuron or neuron fragment as a tracing

[2014-10-02 16:46] jdmanton opened #2 "NBLASTing a user-uploaded tracing is slow"
Should we perhaps only NBLAST against exemplars, possibly with the option of NBLASTing within the top cluster found?

[2014-10-02 18:36] jdmanton opened #3 "Progress indicator for NBLAST"
NBLAST queries take a while, especially for the user tracing against all of `dps`. It would be nice to have a progress indicator, lest someone thinks that the app has crashed, perhaps from the [shiny-incubator](https://github.com/rstudio/shiny-incubator) package.

[2014-10-02 19:31] jdmanton opened #4 "Initial FCWB surface view has a bounding box"

[2014-10-02 19:38] #4 closed, assigned to jdmanton

[2014-10-02 20:17] jefferis opened #5 "Apparent mismatch between numeric query and numbers next to neuron names"
The numbers next to neuron names seem to be flycircuit idids.

![nblast_id_query](https://cloud.githubusercontent.com/assets/23763/4497621/cbfe61d8-4a70-11e4-9e48-a1de685bf31f.jpg)

But if you type e.g. 1615 you get neuron 1618. Any idea why?

[2014-10-02 20:18] jefferis opened #6 "Upload a tracing should have a template brain option"
Should default to FCWB, but have the option to convert from some other space.

[2014-10-02 20:19] jefferis opened #7 "NBLAST_online should be public repo"
no reason to keep this private is there? It already does something useful.

[2014-10-02 20:23] #5 closed, assigned to nobody

[2014-10-02 20:24] #7 closed, assigned to nobody

[2014-10-02 20:53] jefferis opened #8 "score histogram should not be smoothed"
Well at least I don't think it should be smoothed! At the high end there are normally relatively few neurons.

[2014-10-02 20:54] jefferis opened #9 "reported scores should be both raw and normalised"
just normalised I think, not mean.

[2014-10-02 21:04] jefferis opened #10 "make brain load faster"
Can we load the brain faster? e.g. by lowering precision as we have done elsewhere? Or just downsampling?

[2014-10-02 21:07] #8 closed, assigned to nobody

[2014-10-02 21:26] jdmanton opened #11 "Tidy up layout and add text explaining what is going on"

[2014-10-02 22:48] #9 closed, assigned to nobody

[2014-10-03 14:17] #3 closed, assigned to jdmanton

[2014-10-03 21:43] jefferis opened #12 "Plot top 10 hits"
I'm not sure if these are supposed to plot but are not for some reason or if this is a todo. Would also be good to add some sort of linkout for the results as you've done so nicely at http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/clusters/ and to add a colour indicator for each row of the results table that matches the plotted neuron.

[2014-10-07 22:14] jdmanton opened #13 "NBLAST score calculation should be 'reactive'"
At the moment, if two different UI elements want to access data generated from an NBLAST run, the run must be run multiple times. It would be better to move to a reactive model so that the calculations are only performed once.

[2014-10-09 21:25] #11 closed, assigned to jdmanton

[2014-10-16 21:22] #13 closed, assigned to jdmanton

[2014-10-19 21:29] #1 closed, assigned to nobody

[2014-10-19 21:31] jdmanton opened #14 "Add links to FlyCircuit for NBLAST top 10"
From #12:

[2014-10-19 21:31] #12 closed, assigned to nobody

[2014-10-19 22:14] #6 closed, assigned to nobody

[2014-10-19 23:03] #14 closed, assigned to jdmanton

[2014-10-28 15:22] jefferis opened #15 "Include top clusters as well as top individual hits in results"

[2014-10-30 19:41] jdmanton opened #16 "User-uploaded tracing is not NBLASTed unless template brain option is changed"

[2014-10-30 19:56] #16 closed, assigned to jdmanton

[2014-11-02 14:52] jdmanton opened #17 "Should we change the name to NBLAST on-the-fly?"
This would then match up with the name in the app and in the URL for flybrain.

[2014-11-02 16:31] #17 closed, assigned to nobody

[2014-11-04 10:32] jdmanton opened #18 "Add button to download CSV of NBLAST results"

[2014-11-04 10:32] jdmanton opened #19 "Add links to VFB"

[2014-11-04 10:34] ajdm opened #20 "Can we have links to this that pre-fill fields?"
For example, a link such as server.com/on-the-fly/?neuron1=fru1&neuron2=fru2 that would pre-fill the fields on the pairwise comparison page.

[2014-11-04 10:41] jdmanton opened #21 "Plot top 10 hits for user-uploaded tracing"

[2014-11-04 10:42] jdmanton opened #22 "Use neuron names, not gene names, in results tables"
This makes everything easier to work with as no switching is needed between the two no matter what sort of comparison is done. This also matches up with https://github.com/jefferislab/NBLAST_clusters_online.

[2014-11-04 10:48] jdmanton opened #23 "Should we use mean scores for one-versus-all?"

[2014-11-04 10:51] ajdm opened #24 "Add more explanation of template brains"

[2014-11-04 10:53] ajdm opened #25 "Add other dataset to exemplify bridging"

[2014-11-04 10:55] jdmanton opened #26 "Add details on how to prepare own data"
With links to CSH protocol, etc.

[2014-11-04 10:57] jdmanton opened #27 "Put query neuron in red and target in blue in instructions for pairwise panel"

[2014-11-04 12:45] jefferis opened #28 "Separate into VPNs and Central Brain?"

[2014-11-04 12:46] jefferis opened #29 "PNs mixed in with LNs. Why?"
http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/clusters/clusters/413/index.html

[2014-11-04 12:46] jefferis opened #30 "Add summary labels to superclusters"
http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/clusters/

[2014-11-04 12:48] jefferis opened #31 "Order individual clusters by similarity"
http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/clusters/superclusters/11/

[2014-11-04 13:49] #31 closed, assigned to nobody

[2014-11-04 13:50] #30 closed, assigned to nobody

[2014-11-16 16:19] #22 closed, assigned to jdmanton

[2014-11-16 16:26] #15 closed, assigned to nobody

[2014-11-16 16:29] #21 closed, assigned to jdmanton

[2014-11-16 17:04] #27 closed, assigned to jdmanton

[2014-11-17 16:46] #18 closed, assigned to jdmanton

[2014-11-18 14:54] ajdm opened #32 "Add instructions for running locally"

[2014-11-18 14:55] #2 closed, assigned to nobody

[2014-11-18 14:56] jdmanton opened #33 "Add checkbox for NBLASTing user-uploaded tracing against all FlyCircuit neurons"

[2014-11-18 15:08] #28 closed, assigned to nobody

[2014-11-18 15:09] #29 closed, assigned to nobody

[2014-11-18 16:04] #26 closed, assigned to nobody

[2014-11-18 16:18] #33 closed, assigned to nobody

[2014-11-18 16:26] #23 closed, assigned to nobody

[2014-11-18 16:34] #19 closed, assigned to jdmanton

[2014-12-18 18:37] jefferis opened #34 "Info about search results should include coloured text"
i.e. _best_, _worst_, _query neuron_ etc

[2014-12-25 20:24] #34 closed, assigned to nobody

[2015-01-12 17:01] ajdm commented on #10
Plotting of downsampled brain added in 668b3689134e753aec1309fb3f2ba7cc1ae11fee.

[2015-01-12 17:01] #10 closed

[2015-01-12 17:04] ajdm opened #35 "Decide whether we want to plot surface normals"
f318bde807395fca18b813b5a0b459d62d57b2bd changes the plotting routine to add surface normals before plotting. This looks smoother, but gives the impression that the front of the brain is not there, due to the transparency.

[2015-01-12 21:16] jefferis commented on #10
Great. Did you actually see a speed improvement?!

Gregory Jefferis

On 12 Jan 2015, at 17:01, James Manton <notifications@github.com> wrote:

[2015-01-12 21:21] ajdm commented on #10
Locally it's marginal, but on flybrain it goes from 7 units to 3 units.

[2015-01-12 21:26] jefferis commented on #10
Great. That's sounds like a very useful improvement.

Sent from my iPad

[2015-01-26 06:33] jefferis commented on #25
I guess this could include Jonny's neurons from the frulhns package.

[2015-03-24 10:17] jefferis opened #36 "3d brain looks stretched out too wide"
any idea why @ajdm

[2015-03-24 10:21] jefferis opened #37 "link back from About to main nblast website"

[2015-03-24 10:21] jefferis opened #38 "mention video demos on about page"

[2015-03-24 10:36] jefferis opened #39 "result report should link back to info about scoring"
So people are reminded where to find out more about what the scores mean when they have them in front of them.

[2015-03-26 19:57] mmc46 commented on #38
Added link. Committed, not deployed.

[2015-03-26 20:18] mmc46 commented on #37
Added link.

[2015-03-26 20:43] ajdm commented on #36
I'm afraid not. As far as I can see, the dimensions of 800 px by 600 px are consistent throughout the HTML and WebGL, so I don't know why it's being stretched. Somewhat strangely, I don't seem to have any problems if I run the shiny app locally, and ``shinyRGL`` hasn't been updated for quite a while, so it shouldn't be due to a version difference.

[2015-03-26 20:49] ajdm commented on #39
Links added in 690db5e2456679ac5e7efa855c329229d4200d29.

[2015-03-26 20:49] #39 closed

[2015-03-26 21:25] jefferis commented on #39
e.g. the info at http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/www/how/ perhaps with a bit more tidy-up

[2015-03-26 21:36] jefferis opened #40 "progress bar errors"
Trying to run locally with latest package versions and according to README.md instructions.

Getting error:

`ERROR: could not find function "progressInit"`

related to this I guess:

https://groups.google.com/forum/#!topic/shiny-discuss/JGmdRYCLRtE

Can we now ditch shinyincubator? @ajdm maybe you could try on a branch at least?

[2015-03-27 00:19] ajdm commented on #40
I'll give it a go when I have power for my laptop tomorrow.

[2015-03-27 10:22] #38 closed

[2015-04-02 16:59] ajdm commented on #40
Done in 2aacb05e2e1c80f780d72259b14acb211e52877c.

[2015-04-02 16:59] #40 closed

[2015-04-02 18:55] jefferis commented on #32
Closed by https://github.com/jefferislab/NBLAST_on-the-fly/commit/baf71122a899c8e8fd94a5d170af0cd4f7dd3e8d and https://github.com/jefferislab/NBLAST_on-the-fly/commit/c58ef11d848f82ac328101ba6edae155ba25b01f

[2015-04-02 18:55] #32 closed

[2015-04-02 18:56] jefferis commented on #40
Great stuff @ajdm! Let me do this [video demo](https://www.youtube.com/watch?v=cCDql94lSwI) first time without a hitch!

[2015-04-08 13:09] #37 closed

[2015-04-08 13:10] mmc46 opened #41 "Add that local server is possible in About page"
Link to here

https://github.com/jefferislab/NBLAST_on-the-fly

[2015-04-08 14:06] dosumis opened #42 "Consistently getting grey screen & no query results."
From looking at Chrome dev tools - looks like this is the culprit: WebSocket connection to 'ws://flybrain.mrc-lmb.cam.ac.uk/si/nblast/on-the-fly/__sockjs__/824/91ripirg/websocket' failed: Error during WebSocket handshake: Unexpected response code: 400

Connecting from hotel in Japan.  Possibly quirk of local setup.

[2015-04-08 20:25] ajdm commented on #42
I've been unable to reproduce this inside or outside of the Cambridge network, so I guess it's a quirk of the local setup.

[2015-04-14 08:28] jefferis commented on #42
Thanks for the report @dosumis. Was also unable to reproduce off campus. Will close unless this recurred in another setting. Thanks, G.

[2015-04-14 08:29] jefferis commented on #25
Potentially also Hanchuan Peng's "projectome" traces.

[2015-04-16 12:15] mmc46 commented on #41
Commit 8a6830763860921a9afe53f54182b7cae0073f8e

[2015-04-16 14:45] #42 closed

[2015-04-16 14:46] #41 closed

[2015-04-22 18:51] jefferis opened #43 "Fiji plugin"
I'm thinking of making a simple Fiji plugin so that once we have a simple neurite tracing in Fiji one can immediately nblast on the fly. What do you think would be required on this end @ajdm

[2015-04-23 03:51] ajdm commented on #43
I think this would be quite hard, as is, as it would require manipulating POST requests to send to the Shiny app and have it display the right output on a webpage. It might be easier to have a separate server app that handles HTTP requests of our own design and then produces output similar to NBLAST on-the-fly instead. I'll have a proper look into these two options when my exams finish on 1 May.

[2015-04-23 05:58] jefferis commented on #43
Thanks!

I found this [this thread](https://groups.google.com/forum/#!searchin/shiny-discuss/REST/shiny-discuss/-JYOXAeLCtI/4c2fW_kOEvMJ) on the shiny google group that sounded similar. I have the impression that opencpu is the most complete alternative.

Just to be clear, I was thinking of a very simple option – opening an external browser at the right page and posting the tracing (likely from a

[2015-05-04 16:19] mmc46 opened #44 "Add comma separator to csv file"
Currently the csv file to download the scores isn't comma separated, making it harder to isolate the fields.

[2015-05-08 11:14] jefferis opened #45 "make one against all the default page"
@mmc46 I think this is the most common use case, wouldn't you say. @ajdm should be quick!

[2015-05-08 11:34] jefferis opened #46 "nblast on the fly about should start by linking back to main nblast site"
... before talking about R packages etc. html is generated here

https://github.com/jefferislab/NBLAST_on-the-fly/blob/master/ui.R#L139

[2015-05-08 11:34] jefferis commented on #46
i.e. http://jefferislab.org/si/nblast

[2015-05-08 12:15] mmc46 commented on #46
Commit d9c6acc79529174e6b23a8e751ce5f94f2778642

[2015-05-08 12:20] mmc46 commented on #45
Yes, I think it is the most common.

[2015-05-08 13:45] #44 closed

[2015-05-08 13:54] jefferis commented on #46
Looks good to me. Just waiting on deployment when @ajdm has a moment.

[2015-05-08 13:55] jefferis commented on #45
See http://www.inside-r.org/packages/cran/shiny/docs/updateTabsetPanel

[2015-05-09 15:00] ajdm commented on #45
Done in f6e07840fa8d79b3c9337fcd650b6ab2d4b63e9a.

[2015-05-09 15:00] #45 closed

[2015-05-09 15:02] ajdm commented on #46
Deployed.

[2015-05-09 15:02] #46 closed

[2015-05-09 15:12] ajdm commented on #43
It looks like the easiest and most robust solution would be to create a duplicate of this Shiny app with just the 'user-uploaded tracing' option and a slight layout change, and then have the Fiji plugin open a file-browser showing the file, with instructions to drag and drop it on the page.

Going down any of the other routes means that we'd have to handle WebGL output, as well as user-interaction

[2015-05-09 15:39] jefferis commented on #43
Hmm, it's a thought, and I think it's definitely worth making a customised version of the "upload a trace" page if that simplifies things. However, I'd still hold out for a way of doing the upload programmatically. Do you really think that's not an option? Would it be worth enquiring on the shiny google group?

[2015-05-09 15:41] jefferis commented on #44
So there was another fix required here, that I only made after your last deployment. What's the present deploy strategy @ajdm?

[2015-05-09 15:44] ajdm commented on #43
I suppose one approach would be to packet-sniff a normal user-uploaded tracing comparison and see if there's a way to recreate that in a user's browser using Fiji. I think browsers nowadays are a bit wary of things trying to activate file upload HTML elements without user interaction, though.

[2015-05-09 15:45] ajdm commented on #44
At the moment, it's ssh into flybrain and then ``git pull``.

[2015-05-09 15:46] jefferis commented on #44
And then the next session started by a web user will use the updated code?

[2015-05-09 15:48] ajdm commented on #44
Yes.

[2015-05-12 21:02] #36 closed

[2015-05-12 22:34] jefferis opened #48 "neuron types (cross-linked to VFB) in results tables"
* see PR #47

[2015-05-12 22:37] jefferis opened #49 "Automate deployment?"
Just a placeholder, not high priority.

ideas: http://www.flaviobarros.net/2015/05/11/git-pushing-shiny-apps-with-docker-dokku/

[2015-05-12 23:41] ajdm commented on #49
I thought we might be able to get away with a post-receive hook, but restarting the ``shiny-server`` process requires sudo.

[2015-05-14 13:49] jefferis opened #50 "Upload a tracing seems to fail on re-submission"
If you do one search with the upload a tracing page, it works. However if you do two searches, on the second search it doesn't seem to do anything i.e. you click on the nblast button and nothing happens.

I don't think this is a problem for the other search types.

Any ideas @ajdm?

[2015-05-14 14:37] jefferis opened #51 "uploaed tracings in T1 space can't be searched"
[code]

I have installed under the shiny user nat.flybrains version 1.5 which has support for extra registrations.
[code]

[code]

Then needed to restart shiny server

[code]

[2015-05-14 14:37] jefferis commented on #51
all fine as described above.

[2015-05-14 14:37] #51 closed

[2015-05-14 14:42] jefferis commented on #49
for ref, @ajdm writes:

[2015-05-20 16:29] dosumis opened #52 "Links to one against all blast?"
Is is possible to roll a stable link to a 1 against all Nblast?

I'd like to use this to roll links from single neuron pages on VFB to NBlast.

[2015-05-20 18:14] jefferis commented on #52
No.

We could do this if

1. We got metacell to build the configurable 3d browser I mentioned
2. We make a web service (probably https://www.opencpu.org) for the search results rather than relying on http://shiny.rstudio.com

I've discussed point 2 with @ajdm but no telling if this will be possible.

[2015-05-20 19:00] ajdm commented on #52
If I've understood correctly, this could also be done if we can get #20 to work (which I'd forgotten about, to be honest). At the moment, we can have links to pre-fill fields, but not autocomplete on the same fields, although this might be possible if we implement a different autocompletion mechanism. I'll investigate on a different branch.

[2015-05-21 08:40] dosumis commented on #52
Quick way to get a webservice: open up post requests on the form ??

[2015-05-28 09:19] jefferis commented on #24
@ajdm we could add a more info cross link to http://jefferislab.org/si/bridging and then close this.

[2015-05-29 12:55] ajdm commented on #24
More info link added in c5fcbedaccd99fa9562e43f401b870d90e98f703.

[2015-05-29 12:55] #24 closed

[2015-06-05 19:00] ajdm commented on #49
Slight error in previous version of Upstart script fixed below:
[code]

[2015-06-05 20:33] ajdm commented on #52
Now implemented with #54, merged into master and deployed to flybrain. For example, clicking on http://flybrain.mrc-lmb.cam.ac.uk/si/nblast/on-the-fly/#query_all=fru-M-500112 and then clicking the NBLAST button should give the NBLAST results, as well as the links to VFB implemented in #53.

[2015-06-05 23:11] dosumis commented on #48
To do this so that the results are consistent with what is displayed on VFB, assuming you already have VFB ids you can use the JSON files here:

https://github.com/VirtualFlyBrain/VFB_owl/tree/master/export

The README gives the JSON structure.

This flycircuit neurons are here:

https://raw.githubusercontent.com/VirtualFlyBrain/VFB_owl/master/export/flycircuit_plus.json

Use the VFBid of the neur

[2015-06-08 21:14] ajdm opened #55 "Empty brain does not appear on non-first tabs"
Spinner just sits there until the form is submitted. Quick tests locally suggest that this behaviour was actually introduced quite a few commits ago, before the spinner was implemented...

[2015-06-08 21:38] ajdm commented on #55
It looks like this might be an issue with later versions of ``shiny``, or some other dependency, as I've now checked-out rather old versions for which I'm sure the behaviour previously was as expected and the problem remains.

[2015-06-16 19:32] jefferis commented on #52
@dosumis @Robbie1977 @mmc46 Could we implement a link out scheme from all flycircuit neurons on VFB using this url pattern

[code]

[2015-06-16 19:33] jefferis opened #56 "switch vfb links to vfbdev stack browser"

[2015-06-16 19:33] jefferis commented on #56
http://vfbdev.inf.ed.ac.uk/site/stacks/index.htm?add=VFB_00010176

[2015-06-16 19:47] dosumis commented on #52
OK.  Already using idid for linkouts to flycircuit, so should be straightforward.

[2015-07-01 08:56] jefferis opened #57 "add mirror check box"

[2015-07-01 08:57] jefferis opened #58 "have "choose a brain" as default"
and then set template 2 to be the same as template 1

[2015-07-02 22:03] ajdm opened #59 "Change to one-tab layout"
New versions of shiny/rgl seem to break the WebGL display on tabs that are not the first one, but not on every page load. Ensuring all WebGl outputs are on the main page seems to fix this issue, so we should remove the tabs and have everything on one page. See also [c9c35b5](https://github.com/jefferislab/bridging_on-the-fly/commit/c9c35b599454c0dbe94cf66191d07a00f35f500d) in [bridging_on-the-fly]

[2015-07-02 22:20] jefferis commented on #56
OK What we actually want is whatever this points to:

bit.ly/vfbalpha

i.e. the url above should be:

http://vfbsandbox3.inf.ed.ac.uk/site/stacks/index.htm?add=VFB_00010176

[2015-07-02 22:22] #56 closed

[2015-07-02 22:24] jefferis commented on #56
@ajdm I guess you'll be deploying something soon enough ...

[2015-07-02 23:19] ajdm commented on #59
Started in 75e1bf9f4c08959fce0dac8033d3d54ed91d51c3 and finished in fc1ffd021a3fd792e1bcc65b297283a7e226025d.

[2015-07-02 23:19] #59 closed

[2015-07-02 23:23] ajdm commented on #49
It looks like previous attempts at just pushing may have failed as there were some outstanding changes on flybrain. This last deployment ran the updated code without restarting ``shiny-server``.

[2015-07-02 23:23] ajdm commented on #56
Indeed. Deployed, along with one-tab layout changes.

[2015-07-06 12:30] jefferis opened #60 "some vfb_annotations are skipped"
there is an embedded single quote causing trouble

we should be doing:
[code]

[2015-08-02 23:56] jefferis opened #62 "remove autocomplete for pairwise search"
I think it's quite a lot of overhead for relatively little utility. The page is 1Mb with the typeahead and 30kb without. Pairwise comparison will be the least used search type I think.

[2015-08-02 23:56] jefferis commented on #62
views @ajdm  @mmc46

[2015-08-02 23:56] jefferis opened #63 "switch neuron type links to vfb alpha"
ie bit.ly/vfbalpha not virtualflybrain.org

[2015-08-02 23:59] jefferis commented on #60
Fixed here:
https://github.com/jefferislab/NBLAST_on-the-fly/commit/5a7396024271f497959720e5631904dbc3876276 but not too sure which branch is live at this point

[2015-08-03 00:03] jefferis commented on #63
@mmc46 I presume this would be fine by you?

[2015-08-03 10:11] mmc46 commented on #62
I think it would be fine to remove the autocomplete. We'll see if someone complains.

[2015-08-03 10:25] mmc46 opened #64 "Add query neuron name to results section"
Currently the query neuron is only shown in the input box. I think it would be better if it was also shown in the results section.

Either by changing the 'NBLAST results' title to 'NBLAST results for neuron X' or by adding a line underneath it with 'Query: neuron X'.

[2015-08-03 11:03] jefferis commented on #64
Yes, good suggestion!

[2015-08-03 19:30] mmc46 commented on #63
Yes, fine by me.

[2015-08-04 21:58] ajdm commented on #64
Added in 5f4d3aedb93973dec23fdd5194f55262ea1b25cb.

[2015-08-04 21:58] #64 closed

[2015-08-04 22:04] ajdm commented on #62
Removed in 48875cbef716c04fbc6d5644185b1d66fc4d4d4d.

[2015-08-04 22:04] #62 closed

[2015-08-04 22:04] ajdm commented on #60
Included in master now.

[2015-08-04 22:04] #60 closed

[2015-08-04 22:09] ajdm commented on #63
Done in c5a9082dab21de89cd82f89ca7362b6b972344c0.

[2015-08-04 22:09] #63 closed

[2015-08-04 22:10] ajdm commented on #58
Is this not an issue for [bridging on-the-fly](https://github.com/jefferislab/bridging_on-the-fly/)?

[2015-08-04 22:10] #58 closed

[2015-08-04 22:12] ajdm commented on #57
Would this just be for the tracing, or for everything?

[2015-08-04 22:16] jefferis commented on #57
Just the tracing. Would be great to have, but if it might get in the way of other stuff, let it be for now. Best, G.

Sent from my iPhone

[2015-08-04 22:19] ajdm commented on #55
Even with other changes made since, as of 03707106842c23e1788910caba8832ea6283f4b1 this still does not work.

[2015-08-04 22:28] ajdm commented on #57
Added in 21daf853d6d1fa86a3c6144a258ee1c8654d2d3e. Doesn't seem to clash with anything.

[2015-08-04 22:28] #57 closed

[2015-08-04 22:29] ajdm commented on #50
This seems to only happen if the tracing file itself is changed (any other option changes causes the results to update).

[2015-08-04 23:19] jefferis commented on #57
Super! G.

Sent from my iPhone

[2015-08-04 23:24] jefferis commented on #55
Annoying but I think we can live with this if nothing else is broken. G.

Sent from my iPhone

[2015-08-17 10:14] mmc46 opened #66 "Add cancel or stop button"
It would be useful if there was a cancel or stop button on the pages, below or next to the NBLAST one.

[2015-08-17 20:08] jefferis opened #67 "fix mean scores when searching with uploaded tracing"

[2015-08-17 20:30] jefferis commented on #67
fixed by 571a011525e99741e247c971f368971d52180a0c and then f51bbc0fbcfc604f254edb3c809cdc49662414e6

[2015-08-17 20:30] #67 closed

[2015-08-17 20:31] jefferis opened #68 "uploaded neurons in FCWB space are not mirrored"

[2015-08-17 20:41] #68 closed

[2015-08-17 20:46] jefferis opened #69 "should we plot cell bodies?"
I think we may as well plot cell bodies. It wouldn't result in slower results download although it could make the webgl visualisation a bit less responsive when there are a lot of somata.

Views @ajdm @mmc46?

[2015-08-17 21:01] mmc46 commented on #69
I'd prefer to see cell bodies, if it doesn't impact on the rest.

On 17 Aug 2015, at 21:46, Gregory Jefferis <notifications@github.com> wrote:

[2015-08-17 21:35] jefferis commented on #69
I've just tried it and I think it looks quite a bit better. I'm now deploying. Best, G.

[2015-08-17 21:50] jefferis commented on #69
closed by bfaa9099b1b7bfd70140d699aa1ec0ee024536d3

[2015-08-17 21:50] #69 closed

[2015-08-18 08:10] josesho opened #70 "Error: "cannot allocate vector of size 187.0 Mb""
When uploading a skeletonised neuron (.NRRD format) for an all-by-all NBLAST, I encounter the error "cannot allocate vector of size 187.0 Mb".

[2015-08-19 02:17] #70 closed

[2015-08-19 02:30] jefferis commented on #70
Hi @josesho, Do you want to give this a go and see if it behaves better for you now. Thanks, Greg.

[2015-08-19 03:52] josesho commented on #70
I still get the same error -- maybe there is an issue with my own file?

[2015-08-19 07:02] josesho commented on #70
Downsampling before skeletonisation seems to reduce memory usage, allowing NBLAST to run normally.

I notice, however, the origin has changed, as noted in [Pull #65 ](https://github.com/jefferislab/NBLAST_on-the-fly/pull/65). I've updated that thread over there.

I'd consider this issue properly closed! Thanks.

[2015-08-19 11:55] ajdm commented on #70
As a further backup for the version we're running on our server, I've just added 1 GB of swap space.

[2015-08-19 11:55] jefferis commented on #70
Thanks @ajdm !

[2015-08-20 03:05] josesho opened #71 "Allow NBLASTing against GAL4 driver lines of interest"
Currently the NBLAST desktop and the online 'on-the-fly' version only permit two options:

1. NBLAST against all ~16,000 Flycircuit neurons
2. NBLAST against a small subset of exemplar neurons that are representative of all ~16,000 FC neurons.

Will "better" results be obtained if one NBLASTs against a GAL4 driver line of interest? This will mean computing a similarity matrix for each driver line

[2015-08-20 04:07] jefferis commented on #71
Sent from my iPhone

Could you elaborate? Thanks, Greg.

[2015-08-20 05:08] josesho commented on #71
Let's say I have a single neuron that I strongly believe to be Trh positive. NBLAST currently allows me to find neurons matching any of the ~16,000 FC neurons, which is no doubt useful.

I just wonder if any sort of improved specificity might be attained if I just NBLASTed against just the Trh-Gal4 neurons? Another way to put it is, will "noise" be reduced?

Of course, one could just run NBLAST an

[2015-08-20 09:46] ajdm commented on #71
While NBLAST on-the-fly only allows comparing against all ~16,000 FlyCircuit neurons, or cluster exemplars, NBLAST desktop is much more flexible. Comparing just with Trh-Gal4 neurons from the full set (``dps``) can be done using:
[code]
which will be much faster than comparing against all neurons and then filtering the results afterwards.

[2015-08-20 10:29] josesho commented on #71
Right -- but the similarity matrix used in that example will still be the
all-by-all (16,000 X 16,000) matrix.

There are ~2000 Trh-Gal4 neurons in the `dps` dataset, so would it be
profitable / appropriate to generate a seperate similarity matrix? Or would
that simply be a subset of the all-by-all matrix, so there's no point?

Thanks,
Joses

On 20 August 2015 at 17:46, James Manton <notifications

[2015-08-20 10:35] jefferis commented on #71
Or even

nblast(my_trf_neuron, subset(dps, Driver== "Trh-Gal4"))

The more general point is that although Trh Gal4 is a reasonsbly reliable marker most of the others are less so.

[2015-08-20 10:51] ajdm commented on #71
Actually, in that example the scores are computed from scratch.

If you wanted to produce a sparse score matrix that had 16,000 × 16,000 elements, but only had values for the neurons you were interested in, the ``spare_score_mat`` function in [nat.nblast](https://github.com/jefferislab/nat.nblast/blob/master/R/scoremats.r#L203-L233) will allow you to do so.

[2015-08-20 12:28] jefferis commented on #71
Just to add to @ajdm's last comment:

The scorematrix used by flycircuit::fc_nblast is kept on disk since it is big ~ 2Gb with the bigmemory or ff packages providing relatively fast access to subsets of the matrix. If you are interested in doing clustering or searches using just 2000 neurons you can subset the original matrix to a make a standard in memory matrix which will be 1/64 of the original

[2015-08-22 21:40] ajdm commented on #66
Unfortunately I don't think this is possible to do with the way that
shiny works, on the basis of this thread:
https://groups.google.com/forum/#!topic/shiny-discuss/aZqOxOdvBxU.

[2015-09-14 12:15] jefferis opened #72 "cross references to flycircuit are broken"
see https://github.com/VirtualFlyBrain/VFB/issues/706 for discussion and fix.

[2015-09-14 13:34] mmc46 opened #73 "Add button to display top10 in VFB"
Currently, we can click to display each neuron from NBLAST results one by one on the VFB viewer. After displaying the first, the second opens a new viewer tab, but it's added to the same session, so that's fine.

It would be good, though, if there's was an option to display the top10 all in one go, instead of having to do it one by one. I guess this should be possible using the viewer urls

http:/

[2015-09-14 13:49] ajdm commented on #73
I can't get this page to load correctly. I just end up with a menu, some buttons, a grey box (where I guess the viewer should be) and some loading spinners.

[2015-09-14 13:54] mmc46 commented on #73
There are some issues with loading of pages, which I’ve just come across as well. I’ll let you know when it’s fixed.

[2015-09-14 16:54] mmc46 commented on #73
The pages are loading ok now.

[2015-09-15 17:04] ajdm commented on #72
Fixed in d051f842e17d3da9fc1a0b466cb9ca06eed501fb.

[2015-09-15 17:04] #72 closed

[2015-09-15 17:04] #71 closed

[2015-09-15 17:05] ajdm commented on #55
Closed as we have now removed tabs due to shiny/RGL issues.

[2015-09-15 17:05] #55 closed

[2015-09-15 17:05] #66 closed

[2015-09-15 17:08] ajdm commented on #73
I can get the Janelia adult brain stack to load, but nothing else. Copying and pasting the

to the end of the page URL seems to do nothing.

[2015-09-15 17:09] ajdm opened #74 "Links to VFB stack browser do not work"
All are redirected to http://vfbsandbox3.inf.ed.ac.uk/site/stacks/index.htm.

[2015-09-15 17:35] mmc46 commented on #73
I just tested these and it worked fine

http://vfbdev.inf.ed.ac.uk/site/stacks/index.htm?add=VFBt_00100000,VFBd_00100031,VFBi_00021737,VFBi_00023456,VFBi_00020842

http://vfbsandbox3.inf.ed.ac.uk/site/stacks/index.htm?add=VFBt_00100000,VFBd_00100035,VFBd_00100031,VFBi_00020381,VFBi_00020756,VFBi_00020842,VFBi_00023694

[2015-09-15 17:41] ajdm commented on #73
These links all work for me if I use ``vfbdev``, and all fail if I use ``vfbsandbox3``. Am I okay to use ``vfbdev`` throughout?

[2015-09-15 17:44] mmc46 commented on #73
It should be with vfbsandbox3, the stable one.
I'll let Rob know, vfbsandbox3 is now failing for me too.

[2015-09-15 17:44] jefferis commented on #73
Hi @mmc46,

I can only get the vfbdev url to behave (Chrome, Safari).

@robbie1977 I guess there is a fix that will be applied to vfbsandbox3 sometime soon.

Thanks, Greg.

[2015-09-15 17:53] Robbie1977 commented on #73
Just fixed an annoying glitch in the data store - 2 seconds should be back

[2015-09-15 17:54] jefferis commented on #73
thx @Robbie1977

[2015-09-15 17:57] Robbie1977 commented on #73
Let me know if any issue persist? (check the cache is cleared)

[2015-09-15 18:07] mmc46 commented on #74
Links seem to be working now on sandbox3. Sometimes take a few seconds to display.

[2015-09-15 19:52] ajdm commented on #73
Added in 80f486856a5ff45fec8f71ccde8be1d2a27d0365. The stack viewer seems to work very well now, thanks @Robbie1977.

[2015-09-15 19:52] #73 closed

[2015-09-15 20:20] #74 closed

[2015-09-17 09:59] Robbie1977 opened #75 "Menu layout issue on mobile"
The nav bar obscures the page on small screens
![image](https://cloud.githubusercontent.com/assets/4630768/9930342/f7d7b7f0-5d2a-11e5-968b-71b187ee6f62.png)

[2015-09-17 13:19] jefferis commented on #75
Thanks, Rob. @ajdm I think this is in the "nice to fix" category since we're not really targeting mobile given the fairly heavy use of webgl.

[2015-09-17 13:21] jefferis opened #76 "Recommend firefox?"
@ajdm Would it be worth having a "Recent Firefox recommended" alert banner when users of other browsers / versions arrive? We now have more reports of Firefox working and Chrome misbheaving.

Thanks, G.

[2015-09-23 17:57] ajdm commented on #76
Added in 03e1c661c71b81d0ef6f1bcb66642ec488cda649.

[2015-09-23 17:57] #76 closed

[2015-09-23 18:02] ajdm commented on #75
This appears to be an iOS Safari issue, as it's fine on Android and Safari on small desktop screens. Unfortunately I don't have an iPhone or iPad to hand to debug this with, so I'm afraid I'll have to leave it for now.

[2015-09-23 18:04] ajdm commented on #52
Just to confirm, these links still work irrespective of whether the code is running on flybrain or the external VPS, so should remain stable.

[2015-10-01 06:16] Robbie1977 commented on #75
Again I agree this is low priority but just wanted to advise (as have spent way too long fixing these issues on VFB) it's not actually the browser type it's how bootstrap handles the collapsed state which occurs at 767px width and below so can simply test in any desktop browser.

The current menu defaults to stacked items which should work fine if you increase the offset of the main page.

if you

[2015-12-07 16:01] ajdm opened #77 "Update to use rglwidget"
There's a new package by Duncan Murdoch that's designed to allow ``rgl`` outputs in ``shiny`` apps. We should switch over to using that, rather than the outdated ``shinyRGL`` package and my assorted hacks. This should hopefully stop the thing from breaking every time I try and update something...

[2015-12-07 16:07] jefferis commented on #77
Thanks for the heads up. That sounds very interesting!

Also I have done some new work in two packages flynblastscores and vfbr that enable remote score queries using a server being run by Rob Court of VFB. This might help to factor some of the logic out or even offload all the handling of large data onto another machine (I haven't done anything with queries that actually require new computations)

[2015-12-07 16:16] ajdm commented on #77
There's already
[code]
in the top of the ``server.R`` file, which I think you put in there a while ago. Annoyingly, while I was testing out the new version of nat, something broke and when it was reset using packrat is started complaining about my ``inRows`` overwrite (used to reduce the accuracy to which vertex locations are specified, to decrease load time). I've now removed those lines and it's

[2015-12-07 23:59] jefferis commented on #77
OK. Thanks for clarification re headless. So that will not be a change.

Not sure about the apparent packrat issue.

[2015-12-08 00:20] ajdm commented on #77
The packrat issues seem to have been caused by some packages being
silently updated when trying to upgrade to the latest version of nat
(rgl in particular). It's fixed again and I'll try some changes on a
separate checkout.

[2015-12-18 23:32] ajdm opened #78 "Use radio buttons to select query type"
This way we can have just one 3D view with no tabs or fake tabs, which should speed the initial page load and reduce user confusion.

[2016-01-11 22:45] ajdm commented on #78
Negated by ``rglwidget`` being fine with multiple tabs.

[2016-01-11 22:45] #78 closed

[2016-01-27 22:15] #48 closed

[2016-01-27 22:16] jefferis commented on #50
I think this is no longer re

[2016-02-04 11:45] mmc46 opened #79 "Plotted neurons beings obscured"
Neurons being obscured when moving the brain. See movie.
First time I noticed it was today.

[obscured_neurons.mov.zip](https://github.com/jefferislab/NBLAST_on-the-fly/files/117344/obscured_neurons.mov.zip)

[2016-02-06 19:22] ajdm commented on #79
Looks like a z-fighting issue, which means that I don't think we can fix it. I'll look into it and see if there's any modifications we can make to the rgl code to try and get around it, though.

[2016-03-18 13:26] mmc46 opened #80 "Adding a help menu"
There is currently no clear way for people to get help. The googlegroups is only mentioned in the main NBLAST site.

Possibilites:
1) Add a 'Help' tab on to the toolbar, to the right of 'About', which would link directly to the googlegroups
2) Add a 'Contact' section to 'About' page similar to the one in the main site

[2016-03-18 15:39] mmc46 opened #81 "Add more text to skeleton tab"
Add some more text to the web app that makes it clear that the skeleton does need to be registered to one of the template brains we support

[2016-03-18 15:40] mmc46 opened #82 "Add text while loading"
Add some text such as "3D viewer loading" alongside the spinner.

[2016-03-18 15:41] mmc46 opened #83 "Add text to explain mean scores"
add more text to the web app explaining why one might want to do use mean scores

[2016-03-19 21:54] jefferis commented on #77
Note that as of time of writing rglwidget on CRAN still has a showstopper bug with surfaces with alpha transparency. This has been fixed on rforge. See https://github.com/rforge/rgl/commit/e51a011bffff91338d85b55513ab03596d8e7479

[2016-03-21 09:53] ajdm commented on #82
Done in 84992e78b3059651fc26ac5918a47dc23319ae0f.

[2016-03-21 09:53] #82 closed

[2016-03-21 09:58] ajdm commented on #81
I've added a bold notice in 0c9a7ffd59c0710538646f4ba6a7a69462e31e31. Do you think this is suitable, or should we be more verbose?

[2016-03-21 10:05] ajdm commented on #83
I've added some text in 3a5d2d210cab1994708ead8f4dd718d0332e6eeb. Does it seem reasonable?

[2016-03-21 10:15] ajdm commented on #80
Some help from the main site added in 8a3d4800a93b7c28bb42e78c3d8146b265e23f1c. Is there anything else we should explicitly say?

[2016-03-21 10:16] ajdm commented on #75
This looks to be fixed after the rewrite.

[2016-03-21 10:16] #75 closed

[2016-03-21 10:17] ajdm commented on #52
This still works after the rewrite.

[2016-03-21 10:17] ajdm commented on #35
I think the consensus is that we don't want to do this, especially as many people are now used to the non-smoothed look.

[2016-03-21 10:17] #35 closed

[2016-03-21 10:18] #20 closed

[2016-03-21 10:19] ajdm commented on #25
Do we still want this?

[2016-03-22 16:11] mmc46 commented on #81
I think it is ok. But I'd move it up, to above "Query".
And change ", below" to ", see below".

[2016-03-22 16:13] mmc46 commented on #80
Nothing I can think of.

[2016-03-22 16:17] mmc46 opened #84 "Add example of FlyCircuit ids that can be used"
I've noticed that nowhere do we show an example of a FlyCircuit id that can be used.
This would be quite useful for a naive user.

Can an example be added to One vs all, Pairwise and GAL4 tabs? Either as a placeholder in the search box or simple an extra sentence at the end of Instructions.

[2016-03-28 17:06] ajdm commented on #81
Done in 097e7d4cf5e64cf97bd6a5cc53a8b3c9a4bec317.

[2016-03-28 17:06] #81 closed

[2016-03-28 17:19] ajdm commented on #84
Defaults added in c893f80beed933f1e94588557039dec9f140e535. I think they're okay, but it might be worth changing the GAL4 one as, while the top hit is pretty much perfect, the other hits are perhaps not as good as they would be with other initial inputs.

[2016-03-28 17:20] #80 closed

[2016-03-29 12:34] mmc46 opened #85 "Update VFB link to main site"
The link from the GAL4 tab "View all these hits on Virtual Fly Brain." points to vfbdev.

http://vfbdev.inf.ed.ac.uk/site/stacks/index.htm?add=VFB_00021268,VFB_00020478,VFB_00020518,VFB_00021521,VFB_00022031,VFB_00022894,VFB_00022834,VFB_00020932,VFB_00022353,VFB_00022681&clear=true

There are also links in one agains all tab to VFB sandbox3, that can point to main site.

It can now point to the m

[2016-04-01 08:57] ajdm opened #86 "Remove spaces from inputted FlyCircuit ids"
There's a chance spaces could be erroneously copied across from various sources, which would make the app fail 'invisibly'. The easiest fix is to just remove all spaces from text input fields when processing their values.

[2016-04-01 08:58] #79 closed

[2016-04-01 09:12] ajdm commented on #85
I've updated all the links to point to the main VFB site as of d0cc78badca930a4f88e25494668db98e727fc4f, but there's one remaining due to a package option in ``vfbr``.

[2016-04-01 09:17] #85 closed

[2016-04-01 09:30] jefferis commented on #86
I would remove all non alphanumeric. G.

Sent from my iPhone

[2016-04-01 10:25] ajdm commented on #86
Removed all non-alphanumeric, non-hyphens in 822d694e6e50b8d3bc033fcc8f079f89e164e11c.

[2016-04-01 10:25] #86 closed

[2016-05-10 10:49] jefferis commented on #79
Hi @ajdm what was the status on this? I think it was a rglwidget bug that got fixed in late Feb

https://github.com/rforge/rgl/commit/b6f9c1305f315b9c703cfa854b235383a3728aec

or

https://github.com/rforge/rgl/commit/6480a707da8c8f1c1116eb0701072a382cf993ed

What version is running on the server do you know?

[2016-05-10 15:48] mmc46 opened #87 "Error cannot allocate vector of size 436.0 Mb"
Got this error when blasting a tracing.

Error: cannot allocate vector of size 436.0 Mb

Had done a few tracing blasts before (for different tracings) without a problem. But after this error, none of the searches worked, even with tracings that had worked before.

[2016-05-12 13:43] ajdm commented on #79
NBLAST on-the-fly on flybrain is currently running with the following packages installed:
[code]
so we have ``rgl`` 0.95.1441, which is the latest CRAN version. According to the issues you've linked to, the bug was introduced in a later version than this, so I'm not sure that this is the problem.

[2016-05-13 14:53] #87 closed

[2016-05-13 14:58] mmc46 opened #88 "Using up memory without doing a search"
Just to make a note of what I noticed this week.

While navigating between the tabs, without doing a search, is using up over 800Mb of browser memory.
I noticed this on Firefox (46.0.1), Greg saw the same with Chrome.

I'm attaching the log of process sampling.

[Sample of Firefox_nblast_online_13052016.txt](https://github.com/jefferislab/NBLAST_on-the-fly/files/263509/Sample.of.Firefox_nblast_onl

[2016-05-15 13:42] ajdm commented on #79
I've updated ``rgl`` to version 0.95.1476 on flybrain, which should hopefully fix the issue. I couldn't recreate the problem on my computer initially anyway though, so I'm not sure if it actually has or not.

[2016-05-15 14:28] jefferis commented on #79
Great. I'll give it a try tomorrow. Best, G.

Sent from my iPhone

[2016-05-24 16:46] #84 closed

[2016-05-24 16:46] #83 closed

[2016-05-24 16:50] mmc46 opened #89 "Add spinner to GAL4 tab"
Could we have a spinner (with the word loading) added to the GAL4 tab? Like in the other tabs.

The searches are quick, but just in case users are in a slow connection.

[2016-05-24 16:52] mmc46 opened #90 "Add query neuron to results"
Can the query neuron be added to 'One against all', and GAL4 tabs?
Similar to the pairwise tab.

"NBLAST results
Query neuron: fru-M-200266"

[2016-06-02 21:40] ajdm commented on #89
Added in 9892a6508059a6d0490291e769440aca96b2a9cc.

[2016-06-02 21:40] #89 closed

[2016-06-02 22:08] ajdm commented on #90
One against all query neuron added in b6ac8eb9c9ca828df23ffc6bcdf4166f448feb36. GAL4 query neuron added in 0704d8b0505968a5380288a43209cbee0d8ff961.

[2016-06-02 22:08] #90 closed

[2016-06-02 22:12] ajdm commented on #88
I've been unable to reproduce this just now. Do you still experience this?

[2016-06-02 22:13] ajdm commented on #77
We're now running on an rforge version, so I think we can consider this closed.

[2016-06-02 22:13] #77 closed

[2016-06-02 22:13] ajdm commented on #49
It seems to be a good idea to do a ``sudo restart shiny-server``, especially if the packrat library has changed.

[2016-06-02 22:13] #49 closed

[2016-06-02 22:14] #25 closed

[2016-06-02 22:14] ajdm commented on #43
@jefferis Do you think this is something still worth investigating?

[2016-06-03 03:31] jefferis commented on #43
Prob not now. But in principle yes. G.

Sent from my iPhone

[2016-06-03 03:32] ajdm commented on #43
Okay, I'll look into, but probably won't make any progress for a couple
of weeks.

[2016-06-21 11:29] mmc46 commented on #88
Yes, as soon as I open the page Firefox 47.0 goes from ~20% CPU to 60-70%.

[2016-07-14 20:21] dosumis opened #91 "Opening images in VFB -> vfbdev. This should be switched to public VFB"
Prior to the public launch of VFB 1.5, this behaviour made sense, but not any more.  Can you switch ASAP if this is easy to do?  (I'm currently demo-ing VFB + NBlast at the GSA meeting.  Lots of interest in Blasting neurons to GAL4 lines.)

[2016-07-14 20:31] ajdm commented on #91
Added in f685dbc63193dfb60a39d7b73a15ecd62d498100 and now running on flybrain. Please let me know if I've missed any of the links. Thanks.

[2016-07-14 20:32] dosumis commented on #91
Wow, that was fast.  Thanks!

[2016-07-20 15:41] mmc46 opened #92 "Add mention of Neuron paper"

[2016-07-22 14:16] #91 closed

[2016-08-08 10:14] mmc46 commented on #92
Added in 7d66cf84c931c4f8b636055ef06d809e192a03a9

[2016-09-06 11:42] Robbie1977 commented on #52
can we turn on mean scores in the link?

[2016-09-06 11:44] jefferis commented on #52
@ajdm do you know?

would we have to just turn mean scores on by default?

[2016-09-06 11:56] jefferis commented on #52
I looked at this code:
https://github.com/jefferislab/NBLAST_on-the-fly/blob/master/url.js
and it looks like it should be possible to update checkboxes, but haven't worked out the syntax.

[2016-09-06 13:01] ajdm commented on #52
I can do it, but this has revealed a bug in the current implementation. Will fix and push soon.

[2016-09-06 13:05] ajdm commented on #52
Done in 7b711b3875970d7ba062d4249da4ade55094d8d1. I've had to remove the example field input and have put it in the text, as this causes the wrong scores to be loaded on page load from a link to a different neuron.

[2016-09-06 13:27] jefferis commented on #52
Thanks! I think that's fine. G.

[2016-09-06 15:40] jefferis commented on #52
That sounds great @ajdm. Is this update live?

I am trying:

http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#query_all=fru-M-500112,all_use_mean=TRUE

and it is searching for the default value (fru-M-200266) as suggested in your earlier message.

[2016-09-06 15:47] ajdm commented on #52
Sorry, I forgot to update flybrain. Live now.

[2016-09-06 17:52] jefferis commented on #52
Hmm. Right now

http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#query_all=fru-M-500112,all_use_mean=TRUE

sets the checkbox but doesn't choose a neuron or run a search. Consistent with this:

http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#query_all=fru-M-500112

no longer works for me, but just results in an empty search. Finally

http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_

[2016-09-06 18:07] ajdm commented on #52
Getting it to run a search without it ever running the wrong search seems
to be impossible, as the output can only be reactive on one input, not
both. This means that if you have a URL that contains a neuron ID and a
checkbox option it will run the search before setting the checkbox. As
such, it just prefills the inputs and waits for the user to press the
button.

[2016-09-06 18:11] jefferis commented on #52
Hmm OK. I get this bit:

button.

But for the urls mentioned above, for me, it doesn't put neuron id in the id field (and pressing the button therefore does nothing!)

[2016-09-06 19:56] ajdm commented on #52
Ah. During the rewrite I renamed ``query_all`` to ``all_query`` to make the code more consistent. http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#all_query=fru-M-500112,all_use_mean=TRUE should work for your first link. Do you want me to change this back to ``query_all``, or change the links?

[2016-09-06 20:00] jefferis commented on #52
Ah! That's fine. We can go with the revised url scheme. Maybe you can add some information to the README documenting the url scheme. Also could you add the same functionality for the GAL4 search?

[2016-09-07 11:35] dosumis commented on #52
+1 - this is what we'd most like for VFB linkouts.

[2016-09-12 16:33] jefferis commented on #92
Cleaning up issues. Is this done @mmc46?

[2016-09-12 16:37] mmc46 commented on #92
Yes, but not pushed live.

[2016-09-12 16:38] jefferis commented on #92
Maybe Ashley did this coincidental in one of his recent changes?

[2016-09-12 16:45] jefferis commented on #92
It's live now under About/Help so closing.

[2016-09-12 16:45] #92 closed

[2016-09-20 11:44] jefferis commented on #52
@ajdm Any chance you could take a look at the GAL4 linkout?

[2016-09-20 12:15] ajdm commented on #52
Sorry, I meant to reply earlier but obviously didn't get around to it.
The problem with the GAL4 linkout is that you don't seem to be able to
get it to change to the GAL4 tab. I keep on having a few more ideas on
how to try it but none have worked so far. I'll let you know if I get
anywhere.

[2016-09-20 12:38] jefferis commented on #52
Ah, I see. That's a pain, because after the paper and the chaps at VFB advertising, this is something that loads of people are interested in.

[2016-09-20 12:45] ajdm commented on #52
As a very un-ideal solution, we could spin off the GAL4 search into a
separate Shiny app and have a link to and from the main one there. Then
I could set up the URL-linking as I did for the one-against-all search.

[2016-09-20 12:47] jefferis commented on #52
What would be the downsides other than different urls?

[2016-09-23 22:09] ajdm commented on #52
As far as I can tell, the only other downside is the lack of state
sharing. At the moment, if you switch between tabs, your previous input
is remembered. If we had separate apps, that wouldn't be the case if
people closed their browser tab. Also, as far as I can find, there's no
way to stop it opening a new tab if that page is already open in a
browser tab, so you wouldn't 'switch' between tabs in

[2016-09-25 19:06] mmc46 opened #93 "Server very slow"
The searches (and website loading) are really slow.
A GAL4 search took 2min30.

I'm on Firefox 49.0

[2016-09-25 19:08] ajdm commented on #93
Is this from home, outside the CUDN? My internet connection at the moment
is terrible, so I can't check, but I'll give it a go on the CUDN once I get
home later tonight.

[2016-09-25 19:09] mmc46 commented on #93
PDN network, ethernet

[2016-09-25 23:33] ajdm commented on #93
Hmm, it's slow on my connection as well. ``top`` doesn't show anything
particularly odd on flybrain, except that we only have 200 MB of memory
left. It might be that a quick reboot of the VM sorts the problem.
@jefferis, what do you think to rebooting the VM?

[2016-09-26 08:57] jefferis commented on #93
no objections. Wonder what's filling it up.

[2016-09-26 11:01] ajdm commented on #93
Rebooting it seems to have worked. It looks like MySQL might be filling
it up (I vaguely recall noticing this before).

[2016-09-26 19:42] jefferis commented on #52
Might this be useful? https://github.com/aoles/shinyURL

[2016-09-28 13:56] ajdm commented on #52
I've now got this working in 797f010deddfb3b9bed9574feb57d3c86303ac52 and it seems to work well, but I can't get ``packrat`` to add the ``shinyURL`` package into the version store. Any ideas? (``packrat::snapshot()`` doesn't work)

[2016-09-28 14:05] jefferis commented on #52
Super!

What does the error look like?

[2016-09-28 14:05] ajdm commented on #52
There's no error, it just doesn't add anything.

[2016-09-28 14:07] jefferis commented on #52
Are you doing this on your laptop or live on flybrain? Do you have latest R? How was the shinyURL package installed? I assume by `devtools::install_github`.

[2016-09-28 14:18] ajdm commented on #52
Laptop. I could just install the package on flybrain, but that would somewhat defeat the point of using packrat. I'm on R 3.2.3, and installed the shinyURL package as you said.

[2016-09-28 14:20] jefferis commented on #52
I'll take a look quickly on my laptop, but I would recommend installing shinyURL manually for the time being.

[2016-09-28 14:27] ajdm commented on #52
Now running on flybrain. GAL4 links have the format of http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/?gal4_query=fru-M-200266&tab=GAL4.

[2016-09-28 14:28] jefferis commented on #52
woot! or words to that effect!

[2016-09-28 14:28] jefferis commented on #52
@dosumis do you want to try this out? Worked for me.

[2016-09-28 15:32] dosumis commented on #52
Excellent.  Works fine for me (although feels a bit odd that I still need to press the NBlast button).

@Robbie1977  - can we make it a priority to get these added?

I guess this issue is identifying the appropriate individuals to add to. This could potentially be hacked into the current site based on the image being from the FlyCircuit dataset.  We should be able to add on VFBdev version of 1.5 b

[2016-09-29 10:32] Robbie1977 commented on #52
Neither:
http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#query_all=fru-M-500112,all_use_mean=TRUE
or
http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/#all_query=fru-M-500112,all_use_mean=TRUE
seems to show any results now?

GAL4 is working (with user NBLAST button press).

[2016-09-29 12:33] ajdm commented on #52
http://flybrain.mrc-lmb.cam.ac.uk:8080/NBLAST_on-the-fly/?all_query=fru-M-500112&all_use_mean=TRUE is the new format. Sorry for not making the change clearer.

[2016-09-29 12:34] ajdm opened #94 "Google Analytics on flybrain"
Would it be worth me adding some Google Analytics tracking to the installation on flybrain so we can monitor load and usage demographics?

[2016-09-29 16:41] mmc46 commented on #94
I think it would be really useful, good idea.

[2016-09-29 17:25] Robbie1977 commented on #52
thanks

[2016-10-05 06:39] jefferis opened #95 "Add FAFB template(s) as option for nblast"
This would mean putting elmr package on server and therefore upgrading several packages. I don't think it should be a big deal but there is always the possibility of breakage.

FAFB12 is current assembly but FAFB14 will be coming online soon.

[2016-11-29 19:54] obarnstedt opened #96 "Upload a tracing - T1 template problems"
Hi,

I keep running into problems on my system trying to upload a tracing using the T1 - Vienna template.
While the JFRC2 works absolutely fine in general, whenever I select T1 for my tracings, I receive this error message on the top left corner of the 3D rendering space:

To be more precise, this message appears if I first upload a tracing, and then select T1. If I first select T1, it loads the 3

[2016-11-29 20:54] jefferis commented on #96
Thanks, Oliver. It looks like some bridging registrations were missing on that machine.

[2016-11-30 10:01] obarnstedt commented on #96
Hi Greg,
error is gone, works perfectly fine now.
Thanks a lot for the very quick fix!
Oliver

[2016-12-09 14:10] jefferis commented on #95
FAFB13 is now online and supported by elmr.

[2017-11-10 13:00] Alibohra opened #97 "scan() expected 'an integer', got '<?xml'"
Hi,
while uploading a tracing file with .scw I got an error saying **scan() expected 'an integer', got '<?xml'**. I am naive to the programming. no idea what to do

[2017-11-10 13:27] jefferis commented on #97
Thanks for your interest.

I think your file is not an swc file but some kind of xml format file. Perhaps it is a .traces file from the Fiji Simple Neurite Tracer?If so, then you should rename it so that it does not end in .swc because this is confusing the file identification routines. nat should be able to open a

Otherwise you need to figure out how to really save as swc.

Best,

Greg.

Sent fr

[2017-11-10 13:40] Alibohra commented on #97
Thanks Greg for super quick reply.
I renamed the file but I got this message **unable to obtain value for key 'adc8bce959cfc93cfe02380bc482b05d'**
Thank you for your help.
Best,
Ali

[2017-11-10 13:54] jefferis commented on #97
Do you want to upload a copy of the file somewhere? Or send to me privately.

Sent from my iPhone

[2017-11-10 14:25] Alibohra commented on #97
Hi Greg,
I have uploaded two file  (one .nrrd file and one .trace file) on dropbox.
here the link for the same:

https://www.dropbox.com/sh/f0ywk6ngeavdwsm/AACuDQKrH0hbPlZH8RdmsW00a?dl=0

Please let me know of further details required.

Thanks for your help.
Best,
Ali

On Fri, Nov 10, 2017 at 7:24 PM, Gregory Jefferis <notifications@github.com>
wrote:

[2017-11-10 15:50] jefferis commented on #97
OK. So the reason that the .traces neuron won't open is because it actually contains 3 separate (unconnected) trees. My R packages load that in as 3 separate neurons (red, green, blue in image). If you want to search with this you will need to join the neurons together in Fiji.
![image](https://user-images.githubusercontent.com/23763/32666293-dfb30246-c62e-11e7-89eb-f1511db04d48.png)

[2017-11-10 15:51] jefferis commented on #97
See https://imagej.net/Simple_Neurite_Tracer#Tutorials

[2017-11-10 15:58] Alibohra commented on #97
Thanks Greg.
That's really helpful.
Regards,
Ali

[2017-11-10 16:55] #97 closed

[2017-11-25 22:03] #96 closed

[2018-03-15 12:28] jefferis commented on #93
I'm closing this as performance generally seems OK of late (and should be more reliable when we move to a VFB hosted server).

[2018-03-15 12:28] #93 closed

[2019-04-06 12:15] ACatOwner opened #100 "fail to download flycircuit data"
When I executed the commend "source("download_data.R")" under NBLAST_on-the-fly-master, an error showed: Error in library(flycircuit) : there is no package called ‘flycircuit’. Would you mind letting me know how to fix this? Any help would be very appreciated!

[2019-04-06 13:14] jefferis commented on #100
Thanks for your interest. Please see https://github.com/jefferis/flycircuit for install instructions and further details.

[2019-04-06 13:49] ACatOwner commented on #100
Thank you so much for your quick response! I am sorry that I have to bother you with two more problems:
 (1) When I installed the flycircuit package, the compilation for package 'igraph' failed, the complete error message is as below,
make: gfortran-4.8: No such file or directory
make: *** [AMD/Source/amd.o] Error 1
ERROR: compilation failed for package ‘igraph’
* removing ‘/Library/Frameworks/R.f

[2019-04-06 13:57] jefferis commented on #100
First a note, you appear to have a rather old install of R (3.3.x). If you have a sufficiently recent version of macosx (>=10.11), I would recommend upgrading to R 3.5.3. See https://cran.r-project.org/bin/macosx/. If you use the current version of R, then you should not need to compile any packages.

1. If you cannot upgrade R, you need to install fortran in order to compile igraph from source. s

[2019-04-06 14:05] jefferis commented on #100
Also can I just ask which installation instructions you are following? If you follow the instructions in the https://github.com/jefferislab/NBLAST_on-the-fly README, then in theory you should not have had the missing package errors mentioned above.

[2019-04-08 21:36] ACatOwner commented on #100
Dear Dr. Jefferis, Thank you so much again for your time and help! I had successfully run NBlast on my esktop after upgrading my os system. I was hesitant to do so because of the compatibility issue for other softwares. Just in case it would help any other programming kindergartner like me, after upgrading the os and installing R3.5.3, I still need to install Xcode for running the package install